@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('/assets/fonts/gothaprobol-webfont.eot');
    src: url('/assets/fonts/gothaprobol-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/gothaprobol-webfont.svg#my-font-family') format('svg'),
    url('/assets/fonts/gothaprobol-webfont.woff') format('woff'),
    url('/assets/fonts/gothaprobol-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('/assets/fonts/gothaproreg-webfont.eot');
    src: url('/assets/fonts/gothaproreg-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/gothaproreg-webfont.svg#my-font-family') format('svg'),
    url('/assets/fonts/gothaproreg-webfont.woff') format('woff'),
    url('/assets/fonts/gothaproreg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
