.personal-order-print h1 {
	font-size: 26px;
}

.personal-order-print section {
	margin: 20px 0 0 0;
}

.personal-order-print img.sketch {
	max-height: 200px;
	max-width: 300px;
}

.personal-order-print .summary {
	font-size: 14px;
}

.personal-order-print h2 {
	font-size: 16px;
}

.personal-order-print {
	font-size: 12px;
	padding: 20px 0 20px 10px;
}

.center {
	text-align: center;
}