html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import "reset.css";
body						{font: 400 13px/normal Arial, helvetika, sans-serif}
.invoiceHead				{font-size: 10px;font-weight: 700;text-align: center;padding: 30px 0 20px}

.invoice					{width: 650px;margin: 20px auto}



.bmr {
  font: 400 14px normal Arial, helvetika, sans-serif;
  width: 640px;
  margin: 0 auto;
}
.bmrText {
  text-align: center;
  font-size: 12px;
  padding: 20px 0;
}
.bmrRequisite table {
  width: 100%;
}
.bmrRequisite table td {
  border: 1px solid #000;
  padding: 2px;
}
.bmrRequisite table td.shldr {
  position: relative;
  padding-bottom: 20px;
}
.bmrRequisite table td.shldr span {
  position: absolute;
  left: 2px;
  bottom: 2px;
  font-size: 12px;
}
.bmrInvoiceTitle {
  margin: 20px 0 10px;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 3px solid #000;
}
.bmrInvoiceTitle span {
  display: inline-block;
}
.bmrInvoiceRequisite td + td {
  padding-left: 15px;
}
.bmrInvoiceTable {
  padding-top: 12px;
}
.bmrInvoiceTable table {
  width: 100%;
  border-top: 2px solid #000;
}
.bmrInvoiceTable table th,
.bmrInvoiceTable table td {
  padding: 2px;
  border: 1px solid #000;
  text-align: left;
}
.bmrInvoiceTable table th:first-child,
.bmrInvoiceTable table td:first-child {
  border-left: 2px solid #000;
}
.bmrInvoiceTable table th:last-child,
.bmrInvoiceTable table td:last-child {
  border-right: 2px solid #000;
}
.bmrInvoiceTable table th {
  text-align: center !important;
}
.bmrInvoiceTable table .last-child {
  border-bottom: 2px solid #000;
}
.bmrInvoiceTable table .tableFooter td {
  border: 0 !important;
  text-align: right;
  font-weight: 700;
}
.bmrInvoiceTable table .tableFooter.first-child td {
  padding-top: 10px;
  border-top: 2px solid #000 !important;
}
.bmrInvoiceTable table .tableFooter td + td {
  text-align: left;
  padding-left: 10px;
}
.bmrInvoiceSign {
  margin-top: 10px;
  padding-top: 15px;
  border-top: 3px solid #000;
  padding-bottom: 90px;
}
.bmrInvoiceSign span {
  position: absolute;
  left: 0;
  font-size: 14px;
  background: #fff;
  padding-bottom: 5px;
  padding-right: 10px;
}
.bmrInvoiceSign:before,
.bmrInvoiceSign:after {
  display: block;
  content: '';
  position: relative;
}
.bmrInvoiceSign:after {
  clear: both;
}
.bmrInvoiceSign-1 {
  width: 57%;
  float: left;
  text-align: right;
  font-size: 12px;
  border-bottom: 1px solid #000;
  position: relative;
  padding-top: 30px;
}
.bmrInvoiceImg {
  position: absolute;
  left: 50%;
  top: -13px;
}
.bmrInvoiceAutographImg {
  position: absolute;
  left: 50%;
  margin: 0 0 0 -62px;
  top: 9px;

}
.bmrInvoiceSign-2 {
  width: 40%;
  float: left;
  margin-left: 3%;
  text-align: right;
  font-size: 12px;
  border-bottom: 1px solid #000;
  position: relative;
}
.bmren {
  font: 400 14px normal Arial, helvetika, sans-serif;
  margin: 0 auto;
  padding: 20px 0;
}
.bmrenHdr {
  margin-bottom: 40px;
}
.bmrenHdr:before,
.bmrenHdr:after {
  display: block;
  content: '';
  position: relative;
}
.bmrenHdr:after {
  clear: both;
}
.bmrenImg {
  text-align: center;
}
.bmrenImg img {
  max-width: 100%;
}
.bmrenTitle {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}
.bmrenAddr {
  font-size: 16px;
  line-height: 19px;
  float: left;
  width: 340px;
}
.bmrenNum {
  float: right;
}

.bmrenNum p {
  clear: right;
  height: 22px;
}
.bmrenNum span {
  display: inline-block;
  float: right;
  padding-left: 40px;
}
.bmrenTable table {
  width: 100%;
  border: 1px solid #000;
}
.bmrenTable table th,
.bmrenTable table td {
  padding: 5px 18px;
  border-left: 1px solid #000;
}
.bmrenTable table th {
  text-align: left;
  font-weight: 700;
  border: 1px solid #000;
  font-size: 16px;
}
.bmrenTable table th + th {
  text-align: center;
  vertical-align: middle;
}
.bmrenTable table th span {
  margin-right: 50px;
  font-weight: 400;
  font-size: 14px;
}
.bmrenTable table tr td + td {
  text-align: right;
}
.bmrenTable table .inside td {
  border-bottom: 0;
}
.bmrenTableFooter td {
  border: 0 !important;
  text-align: right;
  padding: 5px 18px !important;
}
.bmrenTableFooter td + td {
  text-align: left;
  border-left: 1px solid !important;
}
.bmrenTableFooter td.border-top {
  border-top: 1px solid !important;
}
.bmrenTableFooter td span {
  float: left;
}
.bmrenTableFooter.first-child td {
  border-top: 1px solid !important;
}
.bmrenTotalTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 15px 0;
}
.bmrenTotalMsg {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.bmrenTotalDetails {
  border: 2px solid #000;
  padding: 10px 20px;
}
.bmrenTotalDetailsTitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 7px;
}
.bmrenTotalDetailsLeft {
  float: left;
  width: 25%;
}
.bmrenTotalDetailsRight {
  margin-left: 25%;
  font-weight: 700;
}
.bmrenTotalDetailsRight p {
  margin-bottom: 4px;
}
.bmrenTotalDetailsNote {
  clear: both;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}
.bmrenSign {
  padding: 30px 20px;
  position: relative;
}
.bmrenSignImg {
  position: absolute;
  left: 50%;
  margin: 0 0 0 -98px;
  top: -17px;
}
.bmrenSign span {
  float: right;
  margin-right: 20%;
}

.invoiceTable				{width: 100%}
.invoiceTable td			{border: 2px solid #a6a6a6;padding: 5px 3px;vertical-align: top;font-weight: 700;position: relative;font-size: 12px}
.thisHolder					{display: block;font-size: 10px;margin-top: 10px;font-weight: 400}

.invoiceTitle				{font-weight: 700;font-size: 20px;padding: 20px 0 15px}


.invoiceDetails				{font-weight: 700;font-size: 12px;padding-bottom: 5px}
.invoiceDetails	td 			{padding-bottom: 15px}
.invoiceDetails	td + td		{padding-left: 15px}

.invoiceItems__list			{width: 100%;font-weight: 700}
.invoiceItems__list	th		{border-bottom: 1px solid #000080;padding: 7px 0;text-align: left}
.invoiceItems__list	th,
.invoiceItems__list	td		{padding: 5px 3px 5px 0}
.invoiceItems__list	td		{text-align: left}
.invoiceItems__list	td + td + td {text-align: right}
.invoiceItems__list td[colspan="6"]{font-weight: 400}
.invoiceTotal td			{border-top: 1px solid #000080;text-align: right;font-weight: 700}
.invoiceTotal td p			{padding: 2px 0}

.invoiceSignature			{padding-top: 35px;position: relative;}
.invoiceSignature p			{margin-bottom: 35px;font-weight: 700}
.invoiceSignature p span	{display: inline-block;position: relative;margin-left: 10px;bottom: -3px;border-bottom: 1px solid #000;width: 113px}






.invoice2					{font-size: 11px}

.clear						{clear: both}
.invoiceHeader				{margin-bottom: 20px}
.invoiceHeader__left		{float: left;width: 300px}
.invoiceHeader__right		{margin-left: 345px}
.invoiceHeaderTitle			{font-size: 25px;margin-bottom: 8px}
.invoiceHeaderDetail		{line-height: 15px}

.invoiceText p				{margin-bottom: 10px}
.invoiceTextRight			{float: right;}
.invoiceTextRight .invoiceTb{margin-bottom: 15px;font-weight: 700}
.invoiceTextRight span		{display: block;font-weight: 700;color: #f00;margin-top: 3px}
.invoiceTextRight p			{margin-bottom: 5px}

.invoiceParams				{margin-bottom: 15px;clear: both;}
.invoiceParams p			{margin-bottom: 5px}
.invoiceParams .toleft		{display: inline-block;width: 117px}
.red						{color: #f00}
.invoiceParams2__left		{float: left;width: 390px}
.invoiceParams2	p			{margin-bottom: 5px}
.invoiceParams2 .toright	{display: inline-block;width: 60px;text-align: right;padding-right: 5px}
.clearlist					{font-weight: 400}


.invoiceItems__table		{width: 100%;font-weight: 400;margin: 15px 0 1px}
.invoiceItems__table th		{border-bottom: 1px solid #000080;padding: 3px 0;text-align: left;vertical-align: middle}
.invoiceItems__table th:first-child	{width: 55%}
.invoiceItems__table th	+ th{text-align: right}
.invoiceItems__table td		{padding: 3px 3px 4px 0}
.invoiceItems__table td		{text-align: left}
.invoiceItems__table td + td {text-align: right}
.invoiceItems__table td[colspan="6"]{font-weight: 400}
.invoiceItems__table-amount td			{border-top: 1px solid #000080;font-weight: 700;padding-top: 5px}
.invoiceItems__table-amount td + td		{text-align: left}
.invoiceItems__table-amount td + td	+ td{text-align: right}
.invoiceItems__table-amount +
.invoiceItems__table-amount td			{border: 0}
.invoiceItems__table-total td			{border-top: 1px solid #000080;font-weight: 700;padding-top: 9px}
.invoiceItems__table-total td + td		{text-align: left}
.invoiceItems__table-total td + td	+ td{text-align: right}

.invoiceMessage					{text-align: center;font-weight: 700;line-height: 1.5}
.invoiceAfter					{margin: 15px 0 25px;page-break-inside: avoid;position: relative;}
.invoiceAfterLeft				{float: left;width: 310px;line-height: 1.5;position: relative}
.invoiceAfterRight				{margin-left: 315px}
.invoiceAfterSignature			{border-bottom: 1px solid #000;padding-top: 104px;margin-bottom: 11px;position: relative;}

.text-left,
.text-left td					{text-align: left !important}


.invoiceAfter2					{padding: 5px 0 0;page-break-inside: avoid;position: relative;}
.attention						{color: #f00;font-weight: 700;margin-bottom: 10px}
.regNum							{margin: 22px 0 3px;padding-bottom: 45px;border-bottom: 1px solid #000}
.invoiceAfter2 .invoiceAfterRight {padding: 25px 0 0}
.invoiceAfter2 .comname			{text-align: right;margin-bottom: 30px;font-weight: 700}
.invoiceAfter2 .invoiceAfterRight{margin-left: 375px;line-height: 1.5}

.invoiceStamp					{width: 131px;height: 130px;background: url(./images/stamp_inv.png);position: absolute;top: 15px;right: 20px}
.invoiceStamp:before			{display: block;content: '';width: 131px;height: 48px;background: url(./images/autograph2.png);position: absolute;top: 40px;left: 0}
.invoiceStamp2					{width: 131px;height: 130px;background: url(./images/stamp_inv.png);position: absolute;top: 75px;right: 120px}
.invoiceStamp2:before			{display: block;content: '';width: 131px;height: 48px;background: url(./images/autograph2.png);position: absolute;top: 40px;left: 0}
.invoiceStamp3					{width: 131px;height: 130px;background: url(./images/stamp_inv.png);position: absolute;top: -25px;left: 110px}
.invoiceStamp3:before			{display: block;content: '';width: 131px;height: 48px;background: url(./images/autograph2.png);position: absolute;top: 40px;left: 0}


.finvoiceStamp:before {
    display: block;
    content: '';
    width: 131px;
    height: 48px;
    background: url(./images/autograph2.png);
    position: absolute;
    top: 40px;
    left: 0;
}

html,body {height: 100%;min-height: 100%}
.ficontainer				{padding: 0 20px 200px;width: 680px;margin: 0 auto;position: relative;height: 100%;min-height: 100%;box-sizing: border-box;-moz-box-sizing: border-box}
.filogo						{text-align: center;}
.finvoiceName				{text-align: center;font-size: 18px;margin: 25px 0 30px}

.fpaymentsTitle tr td		{border: 1px solid #000;padding: 5px;width: 50%}
.fpaymentsTitle thead th	{text-align: center;text-transform: uppercase;border: 1px solid #000;padding: 5px}
.fpaymentsTitle p			{margin-bottom: 20px}

table						{width: 100%;}
.finvoiceDetail				{margin-bottom: 15px}
.importantBlock	p			{margin-bottom: 15px}

.finvoiceDetail tr td		{border: 1px solid #000;padding: 5px}
.finvoiceDetail tr.thead td	{font-weight: 700;}
.finvoiceDetail tr td.fiSumm{vertical-align: bottom;text-align: right;width: 100px !important;}

.finvoiceDetail	td.finvoiceDetail-3	{width: 100px !important;}
.finvoiceDetail	td.finvoiceDetail-3	{text-align: right}

td.unborder					{border: 0 !important;}

.finvoiceNum				{font-size: 19px;text-align: center;margin: 50px 0}
.bottomSignature            {height: 150px;position: absolute;bottom: 0;left: 0;width: 100%;}
.bottomSignatureLeft		{float: left;width: 50%;position: relative;}
.bottomSignatureRight		{margin-left: 60%;position: relative;min-height: 60px;}
.finvoiceStamp				{position: absolute;left: 0;bottom: 0}
.finvoiceStamp_en           {top: 20px;}
.finvoiceSignature			{position: absolute;right: 0;top: -10px;}
.clear						{clear: both;}
.bottomSignatureCode		{padding-top: 70px}


.cur-ru .finvoiceName		{text-align: center;font-size: 18px;margin: 25px 0 30px}
.cur-ru .fpaymentsTitle		{font-size: 14px;}
.cur-ru .botInn				{position: relative;padding-bottom: 35px}
.cur-ru .botInnTypo			{position:absolute;bottom: 5px;left: 5px;width: 100%;}
.cur-ru .finvoiceNum		{margin: 10px 0 20px}
.cur-ru .finvoiceDetailSum	{border-bottom: 1px solid #000;padding-bottom: 10px;margin-bottom: 5px}
.cur-ru .finvoiceDetailLeg	{font-size: 13px;margin-bottom: 45px}
.cur-ru .finvoiceDeadline	{font-size: 12px;font-weight: 700;}
.cur-ru .bottomSignatureLeg			{font-size: 12px;padding-left: 50px;padding-top: 40px}
.cur-ru .bottomSignatureLeg	span	{margin-left: -50px}
.cur-ru .bottomSignatureCode		{padding-top: 0}

.finvoiceDetail td.no-right-border {
	border-right: 0px;
}

.finvoiceDetail td.bottom-border {
	border-bottom: 1px solid #000 !important;
}
.bmrenAutographImg {
  position: absolute;
  left: 50%;
  margin: 0 0 0 -98px;
  top: 23px;
}