html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 *	@author:	Антон Городецкий
 *	@mail:		umke@ya.ru
 *
*/

@import "reset.css";
body						{font: 400 13px/normal Arial, helvetika, sans-serif}
.invoiceHead				{font-size: 10px;font-weight: 700;text-align: center;padding: 30px 0 20px}

.invoice					{width: 650px;margin: 20px auto}

.invoiceTable				{width: 100%}
.invoiceTable td			{border: 2px solid #a6a6a6;padding: 5px 3px;vertical-align: top;font-weight: 700;position: relative;font-size: 12px}
.thisHolder					{display: block;font-size: 10px;margin-top: 10px;font-weight: 400}

.invoiceTitle				{font-weight: 700;font-size: 20px;padding: 20px 0 15px}


.invoiceDetails				{font-weight: 700;font-size: 12px;padding-bottom: 5px}
.invoiceDetails	td 			{padding-bottom: 15px}
.invoiceDetails	td + td		{padding-left: 15px}

.invoiceItems__list			{width: 100%;font-weight: 700}
.invoiceItems__list	th		{border-bottom: 1px solid #000080;padding: 7px 0;text-align: left}
.invoiceItems__list	th,
.invoiceItems__list	td		{padding: 5px 3px 5px 0}
.invoiceItems__list	td		{text-align: left}
.invoiceItems__list	td + td + td {text-align: right}
.invoiceItems__list td[colspan="6"]{font-weight: 400}
.invoiceTotal td			{border-top: 1px solid #000080;text-align: right;font-weight: 700}
.invoiceTotal td p			{padding: 2px 0}

.invoiceSignature			{padding-top: 35px;position: relative;}
.invoiceSignature p			{margin-bottom: 35px;font-weight: 700}
.invoiceSignature p span	{display: inline-block;position: relative;margin-left: 10px;bottom: -3px;border-bottom: 1px solid #000;width: 113px}






.invoice2					{font-size: 11px}

.clear						{clear: both}
.invoiceHeader				{margin-bottom: 20px}
.invoiceHeader__left		{float: left;width: 300px}
.invoiceHeader__right		{margin-left: 345px}
.invoiceHeaderTitle			{font-size: 25px;margin-bottom: 8px}
.invoiceHeaderDetail		{line-height: 15px}

.invoiceText p				{margin-bottom: 10px}
.invoiceTextRight			{margin-left: 335px}
.invoiceTextRight .invoiceTb{margin-bottom: 15px;font-weight: 700}
.invoiceTextRight span		{display: block;font-weight: 700;color: #f00;margin-top: 3px}
.invoiceTextRight p			{margin-bottom: 5px}

.invoiceParams				{margin-bottom: 15px}
.invoiceParams p			{margin-bottom: 5px}
.invoiceParams .toleft		{display: inline-block;width: 117px}
.red						{color: #f00}
.invoiceParams2__left		{float: left;width: 390px}
.invoiceParams2	p			{margin-bottom: 5px}
.invoiceParams2 .toright	{display: inline-block;width: 60px;text-align: right;padding-right: 5px}
.clearlist					{font-weight: 400}


.invoiceItems__table		{width: 100%;font-weight: 400;margin: 15px 0 1px}
.invoiceItems__table th		{border-bottom: 1px solid #000080;padding: 3px 0;text-align: left;vertical-align: middle}
.invoiceItems__table th:first-child	{width: 55%}
.invoiceItems__table th	+ th{text-align: right}
.invoiceItems__table td		{padding: 3px 3px 4px 0}
.invoiceItems__table td		{text-align: left}
.invoiceItems__table td + td {text-align: right}
.invoiceItems__table td[colspan="6"]{font-weight: 400}
.invoiceItems__table-amount td			{border-top: 1px solid #000080;font-weight: 700;padding-top: 5px}
.invoiceItems__table-amount td + td		{text-align: left}
.invoiceItems__table-amount td + td	+ td{text-align: right}
.invoiceItems__table-amount +
.invoiceItems__table-amount td			{border: 0}
.invoiceItems__table-total td			{border-top: 1px solid #000080;font-weight: 700;padding-top: 9px}
.invoiceItems__table-total td + td		{text-align: left}
.invoiceItems__table-total td + td	+ td{text-align: right}

.invoiceMessage					{text-align: center;font-weight: 700;line-height: 1.5}
.invoiceAfter					{margin: 15px 0 25px;page-break-inside: avoid;position: relative;}
.invoiceAfterLeft				{float: left;width: 310px;line-height: 1.5;position: relative}
.invoiceAfterRight				{margin-left: 315px}
.invoiceAfterSignature			{border-bottom: 1px solid #000;padding-top: 104px;margin-bottom: 11px;position: relative;}

.text-left,
.text-left td					{text-align: left !important}


.invoiceAfter2					{padding: 5px 0 0;page-break-inside: avoid;position: relative;}
.attention						{color: #f00;font-weight: 700;margin-bottom: 10px}
.regNum							{margin: 22px 0 3px;padding-bottom: 45px;border-bottom: 1px solid #000}
.invoiceAfter2 .invoiceAfterRight {padding: 25px 0 0}
.invoiceAfter2 .comname			{text-align: right;margin-bottom: 30px;font-weight: 700}
.invoiceAfter2 .invoiceAfterRight{margin-left: 375px;line-height: 1.5}

.invoiceStamp					{width: 131px;height: 130px;background: url(./images/stamp_inv.png);position: absolute;top: 15px;right: 20px}
.invoiceStamp:before			{display: block;content: '';width: 131px;height: 48px;background: url(./images/autograph2.png);position: absolute;top: 40px;left: 0}
.invoiceStamp2					{width: 131px;height: 130px;background: url(./images/stamp_inv.png);position: absolute;top: 75px;right: 120px}
.invoiceStamp2:before			{display: block;content: '';width: 131px;height: 48px;background: url(./images/autograph2.png);position: absolute;top: 40px;left: 0}
.invoiceStamp3					{width: 131px;height: 130px;background: url(./images/stamp_inv.png);position: absolute;top: -25px;left: 110px}
.invoiceStamp3:before			{display: block;content: '';width: 131px;height: 48px;background: url(./images/autograph2.png);position: absolute;top: 40px;left: 0}
